
body {
  font-family: 'Fjalla One';
    margin: 0 50px;
    background-color: aliceblue;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.left {
  text-align: center;
  margin-top: 50px;
  background-color: #fff;
  width: 300px;
  height: 290px;
  border: 5px solid #b2a1ce;
  border-radius: 8px;
  padding: 15px;
}

.right {
  text-align: center;
  margin-top: 60px;
}

